In [14]:
import pandas as pd

In [41]:
path = "./Resources/sample_base.csv"
fraud_df = pd.read_csv(path,header='infer',index_col=None)
fraud_df

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,AA,1059,...,0,1500.0,0,INTERNET,16.224843,linux,1,1,0,0
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,AD,1658,...,0,1500.0,0,INTERNET,3.363854,other,1,1,0,0
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,AB,1095,...,0,200.0,0,INTERNET,22.730559,windows,0,1,0,0
3,0,0.6,0.475100,11,14,30,0.006991,-1.863101,AB,3483,...,0,200.0,0,INTERNET,15.215816,linux,1,1,0,0
4,0,0.9,0.842307,-1,29,40,5.742626,47.152498,AA,2339,...,0,200.0,0,INTERNET,3.743048,other,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,0,0.8,0.124690,-1,143,30,0.051348,-0.826239,AB,530,...,0,1500.0,0,INTERNET,16.967770,other,0,1,0,7
999996,0,0.9,0.824544,-1,193,30,0.009591,0.008307,AC,408,...,1,1000.0,0,INTERNET,1.504109,macintosh,0,1,0,7
999997,0,0.8,0.140891,-1,202,10,0.059287,50.609995,AA,749,...,0,200.0,0,INTERNET,16.068595,other,0,1,0,7
999998,0,0.9,0.002480,52,3,30,0.023357,-1.313387,AB,707,...,0,200.0,0,INTERNET,1.378683,linux,1,1,0,7
999999,0,0.6,0.993391,-1,174,30,0.020422,14.942456,AA,655,...,1,200.0,0,INTERNET,1.947926,other,1,1,0,7

In [43]:
fraud_df.head()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.1,0.771248,-1,192,20,0.008449,-1.050951,AB,2570,...,0,1500.0,0,INTERNET,37.831889,windows,0,1,0,2
1,0,0.9,0.868609,-1,8,30,0.003503,-0.683337,AB,1081,...,1,200.0,0,INTERNET,1.610226,linux,1,1,0,6
2,0,0.6,0.461974,30,8,30,0.006326,-0.916832,AB,2162,...,0,500.0,0,INTERNET,5.502750,linux,0,1,0,3
3,0,0.9,0.388111,31,2,50,0.010480,-0.817218,AB,2676,...,1,1500.0,0,INTERNET,3.209488,windows,1,1,0,4
4,0,0.9,0.512189,-1,249,50,0.013239,-0.230889,AB,621,...,1,500.0,0,INTERNET,8.416212,other,1,1,0,7

In [44]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 32 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   fraud_bool                        200000 non-null  int64
 1   income                            200000 non-null  float64
 2   name_email_similarity             200000 non-null  float64
 3   prev_address_months_count         200000 non-null  int64
 4   current_address_months_count      200000 non-null  int64
 5   customer_age                      200000 non-null  int64
 6   days_since_request                200000 non-null  float64
 7   intended_balcon_amount            200000 non-null  float64
 8   payment_type                      200000 non-null  object
 9   zip_count_4w                      200000 non-null  int64
 10  velocity_6h                       200000 non-null  float64
 11  velocity_24h                      200000 non-null  float64
 12  velocity_4w                       200000 non-null  float64
 13  bank_branch_count_8w              200000 non-null  int64
 14  date_of_birth_distinct_emails_4w  200000 non-null  int64
 15  employment_status                 200000 non-null  object
 16  credit_risk_score                 200000 non-null  int64
 17  email_is_free                     200000 non-null  int64
 18  housing_status                    200000 non-null  object
 19  phone_home_valid                  200000 non-null  int64
 20  phone_mobile_valid                200000 non-null  int64
 21  bank_months_count                 200000 non-null  int64
 22  has_other_cards                   200000 non-null  int64
 23  proposed_credit_limit             200000 non-null  float64
 24  foreign_request                   200000 non-null  int64
 25  source                            200000 non-null  object
 26  session_length_in_minutes         200000 non-null  float64
 27  device_os                         200000 non-null  object
 28  keep_alive_session                200000 non-null  int64
 29  device_distinct_emails_8w         200000 non-null  int64
 30  device_fraud_count                200000 non-null  int64
 31  month                             200000 non-null  int64
dtypes: float64(9), int64(18), object(5)
memory usage: 48.8+ MB

In [45]:
fraud_df.columns

Index(['fraud_bool', 'income', 'name_email_similarity',
       'prev_address_months_count', 'current_address_months_count',
       'customer_age', 'days_since_request', 'intended_balcon_amount',
       'payment_type', 'zip_count_4w', 'velocity_6h', 'velocity_24h',
       'velocity_4w', 'bank_branch_count_8w',
       'date_of_birth_distinct_emails_4w', 'employment_status',
       'credit_risk_score', 'email_is_free', 'housing_status',
       'phone_home_valid', 'phone_mobile_valid', 'bank_months_count',
       'has_other_cards', 'proposed_credit_limit', 'foreign_request', 'source',
       'session_length_in_minutes', 'device_os', 'keep_alive_session',
       'device_distinct_emails_8w', 'device_fraud_count', 'month'],
      dtype='object')

In [46]:
fraud_df['fraud_bool'].value_counts()

fraud_bool
0    197768
1      2232
Name: count, dtype: int64

In [47]:
for i in fraud_df.columns:
    display(f"{i} {fraud_df[i].info()}")

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: fraud_bool
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'fraud_bool None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: income
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'income None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: name_email_similarity
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'name_email_similarity None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: prev_address_months_count
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'prev_address_months_count None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: current_address_months_count
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'current_address_months_count None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: customer_age
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'customer_age None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: days_since_request
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'days_since_request None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: intended_balcon_amount
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'intended_balcon_amount None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: payment_type
Non-Null Count   Dtype
--------------   -----
200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

'payment_type None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: zip_count_4w
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'zip_count_4w None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: velocity_6h
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'velocity_6h None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: velocity_24h
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'velocity_24h None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: velocity_4w
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'velocity_4w None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: bank_branch_count_8w
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'bank_branch_count_8w None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: date_of_birth_distinct_emails_4w
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'date_of_birth_distinct_emails_4w None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: employment_status
Non-Null Count   Dtype
--------------   -----
200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

'employment_status None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: credit_risk_score
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'credit_risk_score None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: email_is_free
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'email_is_free None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: housing_status
Non-Null Count   Dtype
--------------   -----
200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

'housing_status None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: phone_home_valid
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'phone_home_valid None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: phone_mobile_valid
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'phone_mobile_valid None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: bank_months_count
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'bank_months_count None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: has_other_cards
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'has_other_cards None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: proposed_credit_limit
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'proposed_credit_limit None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: foreign_request
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'foreign_request None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: source
Non-Null Count   Dtype
--------------   -----
200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

'source None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: session_length_in_minutes
Non-Null Count   Dtype
--------------   -----
200000 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

'session_length_in_minutes None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: device_os
Non-Null Count   Dtype
--------------   -----
200000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

'device_os None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: keep_alive_session
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'keep_alive_session None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: device_distinct_emails_8w
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'device_distinct_emails_8w None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: device_fraud_count
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'device_fraud_count None'

<class 'pandas.core.series.Series'>
RangeIndex: 200000 entries, 0 to 199999
Series name: month
Non-Null Count   Dtype
--------------   -----
200000 non-null  int64
dtypes: int64(1)
memory usage: 1.5 MB

'month None'